@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');


.app {
    font-family: 'Nunito', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.titleBox {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;

    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.1em;
    border-style: solid;
    border-color: black;
    border-width: 2px;

    line-height: 1rem;

    
}