@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');


.app {
    font-family: 'Nunito', sans-serif;


    width: 100vw;
    font-size: 0.9em;
    
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    flex-direction: column;
    width: 360px;

}

.titleBox {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;

    background-color: white;
    margin: 0.1em;
    
    margin-top: 3em;

    line-height: 1em;
    border-style: none;
    
    z-index: 1;
}
.titleBox:focus {
    outline: none;
}

.search {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;

    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.1em;
    border-style: solid;
    border-color: black;
    border-width: 2px;

    line-height: 1em;
    z-index: 1;

}


.form {
    display: flex;
    flex-direction: column;
    width: 100%;

}